@import url("https://fonts.googleapis.com/css?family=Nunito");
/* line 3, C:/Users/Verdun/Documents/review-manager/resources/assets/sass/_forms.scss */
html, body {
  height: 100vh;
  width: 100vw;
  margin: 0 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background: #f3f2f2;
}

/* line 12, C:/Users/Verdun/Documents/review-manager/resources/assets/sass/_forms.scss */
h4 {
  font-size: 24px;
  font-weight: 600;
  color: #000;
  opacity: .85;
}

/* line 18, C:/Users/Verdun/Documents/review-manager/resources/assets/sass/_forms.scss */
label {
  font-size: 12.5px;
  color: #000000;
  opacity: .8;
  font-weight: 400;
}

/* line 24, C:/Users/Verdun/Documents/review-manager/resources/assets/sass/_forms.scss */
form {
  padding: 40px 30px;
  background: #fefefe;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 20px;
  width: 300px;
}

/* line 32, C:/Users/Verdun/Documents/review-manager/resources/assets/sass/_forms.scss */
form h4 {
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.5);
}

/* line 35, C:/Users/Verdun/Documents/review-manager/resources/assets/sass/_forms.scss */
form h4 span {
  color: black;
  font-weight: 700;
}

/* line 40, C:/Users/Verdun/Documents/review-manager/resources/assets/sass/_forms.scss */
form p {
  line-height: 155%;
  margin-bottom: 5px;
  font-size: 14px;
  color: #000;
  opacity: .65;
  font-weight: 400;
  max-width: 200px;
  margin-bottom: 40px;
}

/* line 51, C:/Users/Verdun/Documents/review-manager/resources/assets/sass/_forms.scss */
a.discrete {
  color: rgba(0, 0, 0, 0.4);
  font-size: 14px;
  border-bottom: solid 1px transparent;
  padding-bottom: 4px;
  margin-left: auto;
  font-weight: 300;
  transition: all .3s ease;
  margin-top: 40px;
}

/* line 60, C:/Users/Verdun/Documents/review-manager/resources/assets/sass/_forms.scss */
a.discrete:hover {
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
}

/* line 64, C:/Users/Verdun/Documents/review-manager/resources/assets/sass/_forms.scss */
button {
  -webkit-appearance: none;
  width: auto;
  min-width: 100px;
  border-radius: 24px;
  text-align: center;
  padding: 15px 40px;
  margin-top: 5px;
  background-color: #b08bf8;
  color: #fff;
  font-size: 14px;
  margin-left: auto;
  font-weight: 500;
  box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.13);
  border: none;
  transition: all .3s ease;
  outline: 0;
}

/* line 81, C:/Users/Verdun/Documents/review-manager/resources/assets/sass/_forms.scss */
button:hover {
  transform: translateY(-3px);
  box-shadow: 0 2px 6px -1px rgba(182, 157, 230, 0.65);
}

/* line 84, C:/Users/Verdun/Documents/review-manager/resources/assets/sass/_forms.scss */
button:hover:active {
  transform: scale(0.99);
}

/* line 89, C:/Users/Verdun/Documents/review-manager/resources/assets/sass/_forms.scss */
input {
  font-size: 16px;
  padding: 20px 0px;
  height: 56px;
  border: none;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  background: #fff;
  width: 280px;
  box-sizing: border-box;
  transition: all .3s linear;
  color: #000;
  font-weight: 400;
  -webkit-appearance: none;
}

/* line 102, C:/Users/Verdun/Documents/review-manager/resources/assets/sass/_forms.scss */
input:focus {
  border-bottom: solid 1px #b69de6;
  outline: 0;
  box-shadow: 0 2px 6px -8px rgba(182, 157, 230, 0.45);
}

/* line 108, C:/Users/Verdun/Documents/review-manager/resources/assets/sass/_forms.scss */
.floating-label {
  position: relative;
  margin-bottom: 10px;
  width: 100%;
}

/* line 112, C:/Users/Verdun/Documents/review-manager/resources/assets/sass/_forms.scss */
.floating-label label {
  position: absolute;
  top: calc(50% - 7px);
  left: 0;
  opacity: 0;
  transition: all .3s ease;
  padding-left: 44px;
}

/* line 120, C:/Users/Verdun/Documents/review-manager/resources/assets/sass/_forms.scss */
.floating-label input {
  width: calc(100% - 44px);
  margin-left: auto;
  display: flex;
}

/* line 125, C:/Users/Verdun/Documents/review-manager/resources/assets/sass/_forms.scss */
.floating-label .icon {
  position: absolute;
  top: 0;
  left: 0;
  height: 56px;
  width: 44px;
  display: flex;
}

/* line 132, C:/Users/Verdun/Documents/review-manager/resources/assets/sass/_forms.scss */
.floating-label .icon svg {
  height: 30px;
  width: 30px;
  margin: auto;
  opacity: .15;
  transition: all .3s ease;
}

/* line 138, C:/Users/Verdun/Documents/review-manager/resources/assets/sass/_forms.scss */
.floating-label .icon svg path {
  transition: all .3s ease;
}

/* line 143, C:/Users/Verdun/Documents/review-manager/resources/assets/sass/_forms.scss */
.floating-label input:not(:placeholder-shown) {
  padding: 28px 0px 12px 0px;
}

/* line 146, C:/Users/Verdun/Documents/review-manager/resources/assets/sass/_forms.scss */
.floating-label input:not(:placeholder-shown) + label {
  transform: translateY(-10px);
  opacity: .9;
}

/* line 151, C:/Users/Verdun/Documents/review-manager/resources/assets/sass/_forms.scss */
.floating-label input:valid:not(:placeholder-shown) + label + .icon svg {
  opacity: 1;
}

/* line 153, C:/Users/Verdun/Documents/review-manager/resources/assets/sass/_forms.scss */
.floating-label input:valid:not(:placeholder-shown) + label + .icon svg path {
  fill: #b69de6;
}

/* line 158, C:/Users/Verdun/Documents/review-manager/resources/assets/sass/_forms.scss */
.floating-label input:not(:valid):not(:focus) + label + .icon {
  animation-name: shake-shake;
  animation-duration: .3s;
}

@keyframes shake-shake {
  0% {
    transform: translateX(-3px);
  }
  20% {
    transform: translateX(3px);
  }
  40% {
    transform: translateX(-3px);
  }
  60% {
    transform: translateX(3px);
  }
  80% {
    transform: translateX(-3px);
  }
  100% {
    transform: translateX(0px);
  }
}

/* line 172, C:/Users/Verdun/Documents/review-manager/resources/assets/sass/_forms.scss */
.session {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
  margin: 48px auto;
  color: #000000;
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.12);
}

/* line 183, C:/Users/Verdun/Documents/review-manager/resources/assets/sass/_forms.scss */
.left {
  width: 220px;
  height: auto;
  min-height: 100%;
  position: relative;
  background-image: url("https://images.pexels.com/photos/114979/pexels-photo-114979.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

/* line 192, C:/Users/Verdun/Documents/review-manager/resources/assets/sass/_forms.scss */
.left svg {
  height: 40px;
  width: auto;
  margin: 20px;
}

/* line 9, C:/Users/Verdun/Documents/review-manager/resources/assets/sass/app.scss */
.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

/* line 14, C:/Users/Verdun/Documents/review-manager/resources/assets/sass/app.scss */
html, body {
  background-color: #fff;
  color: #636b6f;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  height: 100vh;
  margin: 0;
}

/* line 23, C:/Users/Verdun/Documents/review-manager/resources/assets/sass/app.scss */
.full-height {
  height: 100vh;
}

/* line 27, C:/Users/Verdun/Documents/review-manager/resources/assets/sass/app.scss */
.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

/* line 33, C:/Users/Verdun/Documents/review-manager/resources/assets/sass/app.scss */
.flex-center-top {
  align-items: flex-start;
  display: flex;
  justify-content: center;
}

/* line 39, C:/Users/Verdun/Documents/review-manager/resources/assets/sass/app.scss */
.position-ref {
  position: relative;
}

/* line 43, C:/Users/Verdun/Documents/review-manager/resources/assets/sass/app.scss */
.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

/* line 49, C:/Users/Verdun/Documents/review-manager/resources/assets/sass/app.scss */
.content {
  text-align: center;
}

/* line 53, C:/Users/Verdun/Documents/review-manager/resources/assets/sass/app.scss */
.content-list {
  text-align: center;
  padding-top: 80px;
}

/* line 58, C:/Users/Verdun/Documents/review-manager/resources/assets/sass/app.scss */
.title {
  font-size: 84px;
}

/* line 62, C:/Users/Verdun/Documents/review-manager/resources/assets/sass/app.scss */
.links > a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}

/* line 72, C:/Users/Verdun/Documents/review-manager/resources/assets/sass/app.scss */
.m-b-md {
  margin-bottom: 30px;
}

/* line 76, C:/Users/Verdun/Documents/review-manager/resources/assets/sass/app.scss */
.dynamic-content {
  color: #000000;
}

/*# sourceMappingURL=../../../public/css/app.map */